<table>
  <thead>
    <tr>
      <th>Product</th>
      <th class="prices-collected-header">
        <span class="prices-collected-full">Prices Collected</span>
        <span class="prices-collected-short">#</span>
      </th>
      <th>First Date</th>
      <th>First Price</th>
      <th>Latest Date</th>
      <th>Latest Price</th>
      <th class="annual-increase-header">
        <span class="annual-increase-full">Annualized Increase %</span>
        <span class="annual-increase-short">Annual Incrse %</span>
      </th>
    </tr>
  </thead>
  <tbody>
    @for (stat of stats; track stat) {
      <tr>
        <td>
          <a [routerLink]="['/products', productToSlug(stat.Product)]">
            {{ stat.Product }}
          </a>
        </td>
        <td>{{ stat.pricesCollected }}</td>
        <td>{{ stat.firstDate }}</td>
        <td>$ {{ stat.firstPrice }}</td>
        <td>{{ stat.latestDate }}</td>
        <td>$ {{ stat.latestPrice }}</td>
        <td>{{ stat.annualizedIncrease }}</td>
      </tr>
    }
  </tbody>
</table>
